@model Practica05032025.AppMVCCodeFirst.Models.Alumno

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-center p-2">@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nombre)</h4>
    <hr />

    <div role="tabpanel" class="row p-3">
        <!-- List group -->
        <div class="list-group col-4" id="myList" role="tablist">
            <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#nombre" role="tab">@Html.DisplayNameFor(model => model.Nombre)</a>
            <a class="list-group-item list-group-item-acstion" data-bs-toggle="list" href="#cod" role="tab">@Html.DisplayNameFor(model => model.Codigo)</a>
            <a class="list-group-item list-group-item-acstion" data-bs-toggle="list" href="#dir" role="tab">@Html.DisplayNameFor(model => model.Direccion)</a>
            <a class="list-group-item list-group-item-acstion" data-bs-toggle="list" href="#mail" role="tab">@Html.DisplayNameFor(model => model.Email)</a>
            <a class="list-group-item list-group-item-acstion" data-bs-toggle="list" href="#nac" role="tab">@Html.DisplayNameFor(model => model.FechaNacimiento)</a>
            <a class="list-group-item list-group-item-acstion" data-bs-toggle="list" href="#est" role="tab">@Html.DisplayNameFor(model => model.YearEstudio)</a>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-8 text-center h3">
            <div class="tab-pane active" id="nombre" role="tabpanel">@Html.DisplayFor(model => model.Nombre)</div>
            <div class="tab-pane" id="cod" role="tabpanel">@Html.DisplayFor(model => model.Codigo)</div>
            <div class="tab-pane" id="dir" role="tabpanel">@Html.DisplayFor(model => model.Direccion)</div>
            <div class="tab-pane" id="mail" role="tabpanel">@Html.DisplayFor(model => model.Email)</div>
            <div class="tab-pane" id="nac" role="tabpanel">@Html.DisplayFor(model => model.FechaNacimiento)</div>
            <div class="tab-pane" id="est" role="tabpanel">@Html.DisplayFor(model => model.YearEstudio)</div>
        </div>
    </div>
</div>
<div class="row gap-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning col-1">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary col-1">Volver</a>
</div>
